/**{
    outline:1px solid rgba(255,0,0,1);}*/

* {
	box-sizing: border-box;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.content{
	position: absolute;
	top: 55%;
	left: 49%;
	width: 33%;
    margin: 3% 0%;
	-ms-transform: translate(-50%,-50%); /* IE 9 */
   	-webkit-transform: translate(-50%,-50%); /* Chrome, Safari, Opera */
    transform: translate(-50%,-50%);
}
#Inicio{ 
    margin-top: 1%;
    height: 44em;
    background: url("../image/laptop.JPG");
    background-size:cover;
    
}
#Habilidades{background:url("../image/fondoo.jpg");color:#fff;}
#Trabajo{background:url("../image/fondoblanco.jpg");}
#Contacto{
    background:url("../image/fondoo.jpg");
    background-size: cover;
    color:#fff;
}
.logo-wrap {
    width: 100%;
    position: relative;
}
#logo{
	margin: 1% 0% 0% 2%;
}

/*redes*/
.fixed-left{
    position: fixed;
    bottom: 0rem;
    left: 0;
    z-index: 1000;
    transition: transform .3s cubic-bezier(.4,0,.2,1);
    transition-delay: .3s;
    pointer-events: auto;
    margin: 2.5rem;
    width: 100px;
}
.redes-fixed{
    margin-left: -1.125rem;
    margin-bottom: -1.125rem;
    list-style: none;
    padding: 0;
    margin: 0;
}
.redes-fixed-item{
    display: list-item;
    text-align: -webkit-match-parent;
    margin-bottom: 2%;
}
.redes-fixed-item img{
    max-width: 35%;
    padding-bottom: 9%;
}
.redes-fixed-item img:hover{
    border-bottom: 2px solid #FDB304;
    opacity:1;
    transform: translateY(3px);
}
/*menu*/

.pestanas{
    font-weight: 100;
    font-size: 2em;
    /*line-height: 4em;*/
    text-transform: uppercase;
    letter-spacing: .05em;
    text-align: right;
    margin: 0;
    padding: 25px;
    width: 231px;
    margin-top: 0%; 
}
/*sobre mi*/
.frase{font-family: 'Playball', cursive;font-size: 25px;}
.nombre{padding: 2% 4% 1% 7%;
font-size: 18px;}
.caricatura{width: 62%;margin-left: 19%;}
.fotomi{ }
.fotomi > img {width: 100%;
border-image-source: 1px solid #00FFF0;}
.tri {
    display: block;
    width: 317px;
    height: 6px;
    background: #FDB304;
    position: absolute;
    left: 0;}
span{font-size:22px;}
.intereses{margin-top: 9%;}
quote{font-family: cursive}
/*habilidades*/
.myProgress{
  width: 100%;
  height: 10px;
  position: relative;
  background-color: #666666;
  border-radius: 100px;
}
.myBar {
  background-color: #FDB304;
  width: 15px;
  height: 10px;
  position: absolute;
  border-radius: 100px;
  transition: all 1s;
}
.icono{
    width: 25px;
    height: auto;
    padding: 6px 0;}

table{width: 100%;}
.codenombre{padding-right: 1em;
    text-align: right;
    margin-bottom: -1px;}
/*footer*/
.datos{
   font-family: 'Arima Madurai', cursive;
    font-size: 17px;
       
}
.footer-datos{padding-top: 105px;}
.footer-frase{padding-bottom: 105px;}
.footer-datos, .footer-frase{margin:0 360px; }
.footer-frase > .frase{color:#fff;margin-bottom: 0px;font-size:20px;}
.footer-laptop > img{width: 12%;}
#amarillo {color:#fff;}
#amarillo:hover{font-size: 20px;color:#FDB304;}
.correo{margin-right: 2%;}