body{
    color:#fff;
    background-color:#1E1E1E;
    }
.inner {
    text-align: center;
    margin: 0 7%;
    }
h1,h2,h3{font-family: 'Arima Madurai', cursive;}
p{font-family: 'Muli', sans-serif;}
img{width: 100%;}
.pdd{padding-right: 0px;
padding-top: 2px;}
.pd0{padding-left:0px;}
.pdl3{padding-left: 3%;}
.circulo{padding:0% 0% 3% 7%;}
.mb4{margin-bottom: 4%;}
.mt30{margin: 10% 5% 0% 60%;}
.mt40{margin: 30% 0% 12%;}
.mg23{margin: 2% 0% 2% 3%;}
.phab{padding:3% 18%; }
.menu{position: relative;}
.ptabla{position: absolute;}
.phab{padding-right:18%;}
/*trabajos*/
.trabajos .nav-tabs {border-bottom: none;}
.trabajos .nav-tabs > li.active > a {
  color: #fff;
  background-color: #666666;
  font-weight: bolder;
}
.trabajos .nav-tabs > li > a {
  color: #666666;
  font-family:'Muli', sans-serif; /*tipo de letra*/
  background-color: #FDB304;
}
.trabajos .page {
  padding: 2% 0;
}
#menu.active {
  background-color: #2A3159;
}
#menu.active .navbar-nav a {
  border-bottom: none;
}
/*circulo*/
.ih-item, .ih-item * {
    -moz-box-sizing: border-box;
}
.ih-item a {
    color: #333333;
}
.ih-item a:hover {
    text-decoration: none;
}
.ih-item img {
    height: 100%;
    width: 100%;
}
.ih-item.circle {
    height: 220px;
    position: relative;
    width: 220px;
}
.ih-item.circle .img {
    border-radius: 50%;
    height: 220px;
    position: relative;
    width: 220px;
}
.ih-item.circle .img:before {
    border-radius: 50%;
    box-shadow: 0 0 0 16px rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.35s ease-in-out 0s;
    width: 100%;
}
.ih-item.circle .img img {
    border-radius: 50%;
}
.ih-item.circle .info {
    backface-visibility: hidden;
    border-radius: 50%;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
.ih-item.square {
    border: 8px solid #FFFFFF;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    height: 216px;
    position: relative;
    width: 316px;
}
.ih-item.square .info {
    backface-visibility: hidden;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
.ih-item.circle.effect1 .spinner {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #FDB304 #666666 #666666 #FDB304;
    border-image: none;
    border-style: solid;
    border-width: 8px;
    border-radius: 50%;
    height: 230px;
    transition: all 0.8s ease-in-out 0s;
    width: 230px;
}
.ih-item.circle.effect1 .img {
    bottom: 0;
    height: auto;
    left: 10px;
    position: absolute;
    right: 0;
    top: 10px;
    width: auto;
}
.ih-item.circle.effect1 .img:before {
    display: none;
}
.ih-item.circle.effect1.colored .info {
    background: none repeat scroll 0 0 rgba(26, 74, 114, 0.6);
}
.ih-item.circle.effect1 .info {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    bottom: 0;
    left: 10px;
    opacity: 0;
    right: 0;
    top: 10px;
    transition: all 0.8s ease-in-out 0s;
}
.ih-item.circle.effect1 .info h3 {
    color: #FFFFFF;
    font-size: 22px;
    height: 110px;
    letter-spacing: 2px;
    margin: 0 30px;
    padding: 55px 0 0;
    position: relative;
    text-shadow: 0 0 1px #FFFFFF, 0 1px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.ih-item.circle.effect1 .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #FFFFFF;
    font-size: 12px;
    font-style: italic;
    margin: 0 30px;
    padding: 10px 5px;
}
.ih-item.circle.effect1 a:hover .spinner {
    transform: rotate(180deg);
}
.ih-item.circle.effect1 a:hover .info {
    opacity: 1;
}
@media(max-width:530px){
    .tri{width: 300px;}
    .pestanas{width: 280px;font-size:2em;}
}
