.footer-datos
	h3.text-center.datos Patricia Mendoza Soncco
	h5.text-center.datos Teléfono: 986866794
	h6.text-center.datos Correo: patriciamendozasoncco@gmail.com
.footer-laptop
	img(src="image/laptop.png")
.footer-frase
	quote.frase.text-center "Nunca pares, nunca te conformes; hasta que lo bueno sea mejor y lo mejor excelente"

		