.row
	.col-md-5
		.foom-group.mg23
			input.form-control.mb4#name(type="text" name="nombre" placeholder="Ingrese su nombre")
			input.form-control.mb4#correo(type="email" name="correo" placeholder="Ingrese su email")
			textarea.form-control.mb4(rows="6" placeholder="Ingrese su consulta")
			.button.btn.btn-default Enviar
		.row
			.col-md-4
			.col-md-8.mt40
				h3.text-right Patricia Mendoza Soncco
				h4.text-right Telefono: 986866794
				h5.text-right Correo: patriciamendozasoncco@gmail.com
	.col-md-3
		
	.col-md-4
		p.mt30 "Nunca pares, Nunca te conformes, Hasta que lo bueno sea mejor y lo mejor excelente"

		