.fixed-left
  ul.redes-fixed
    li.redes-fixed-item
      a(href='https://plus.google.com/collections/featured', target='_blank')
        img(src='image/g+.png')
    li.redes-fixed-item
      a(href='https://www.pinterest.com/patycita10/', target='_blank')
        img(src='image/p.png')
    li.redes-fixed-item
      a(href='https://github.com/PatriciaMendozas', target='_blank')
        img(src='image/git.png')
    li.redes-fixed-item
      a(href='https://www.linkedin.com/in/patricia-mendoza-557584120?trk=nav_responsive_tab_profile', target='_blank')
        img(src='image/in.png')
.resumen
  img(src="image/resumen.png" alt="#" class="imgmpmsv")