.fixed-left
  ul.redes-fixed
    li.redes-fixed-item
      a(href='https://www.facebook.com/CIPSGonzalezrey?fref=ts', target='_blank')
        img(src='../image/g+.png')
    li.redes-fixed-item
      a(href='https://www.youtube.com/user/CipsFGonzalezRey', target='_blank')
        img(src='../image/p.png')
    li.redes-fixed-item
      a(href='https://pe.linkedin.com/in/cipspsicologiahc', target='_blank')
        img(src='../image/git.png')
    li.redes-fixed-item
      a(href='https://pe.linkedin.com/in/cipspsicologiahc', target='_blank')
        img(src='../image/in.png')