include workjn
ul.nav.nav-tabs.pdt6
	li.active
		a(data-toggle="tab" href="#home") 1
	li
		a(data-toggle="tab" href="#menu1") 2
	li 
		a(data-toggle="tab" href="#menu2") 3
	
.tab-content
	#home.tab-pane.fade.in.active
		.row.page.text-center
			+col("#","../image/primerlayout.jpg", "Mi primer Layout","Nuestras Coders")
			+col("#","../image/androi.png", "Dashgum Theme","sfsdf")
			+col("#","../image/angular.png", "Blog")			
	#menu1.tab-pane.fade
		.row.page.text-center
			+col("#","image/flat.png", "Flat Theme")
			+col("#","image/dash.png", "Dashgum Theme")
			+col("#","image/blog.png", "Blog")
	#menu2.tab-pane.fade
		.row.page.text-center
			+col("#","image/kane.png", "Kane Theme ")
			+col("#","image/agency.png", "Agency ")
			+col("#","image/love.png", "Love Blog")