include workjn
.tab-content
	#home.tab-pane.fade.in.active
		.row.page.text-center
			+col("https://patriciamendozas.github.io/Dashgum/dashboard.html","image/Dashboard.png", "DASHBOARD","Página Interactiva")
			+col("http://patriciamendozas.github.io/lab-Fashion/","image/Fashion.png", "FASHION","Venta de Accesorios")
			+col(" http://patriciamendozas.github.io/2un_wasapchat/public/index.html","image/whatsapp.png","WHATSAPP", "Creación de WhastsApp Web")			
	#menu1.tab-pane.fade
		.row.page.text-center
			+col("http://patriciamendozas.github.io/Lab-Escueladanza/.","image/E-DANZA.png", "ESCUELA DANZA","Trabajo grupal")
			+col("http://patriciamendozas.github.io/UserTresting360/","image/Testing360.png", "TESTING360","Página Empresarial")
			+col(" http://patriciamendozas.github.io/Responsive/","image/responsive.png", "Responsive","Menu Hamburguer")
	#menu2.tab-pane.fade
		.row.page.text-center
			+col("http://patriciamendozas.github.io/TechTheme/inicio.html","image/THECHTHEME.png", "TECHTHEME","Trabajo grupal")
			+col(" http://patriciamendozas.github.io/Lab-CinemaLayout/.","image/CINEMA.png","CINEMA", "Plantilla de Cinema")
			+col("http://patriciamendozas.github.io/Lab-E-comunidad/.","image/E-COMUNIDAD.png", "COMUNIDAD","Control de Video")
ul.nav.nav-tabs.pdt6
	li.active
		a(data-toggle="tab" href="#home") 1
	li
		a(data-toggle="tab" href="#menu1") 2
	li 
		a(data-toggle="tab" href="#menu2") 3