mixin col(web,img,title,descrip)
	.col-md-4.col-sm-6.col-xs-12.circulo
		.ih-item.circle.effect1
			a(href=web, target="_blank")
				.spinner
				.img
					img(src=img )
				.info
					.info-back
						h3=title
						p=descrip